<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="footer-grid-new">
                        
                <div class="footer-block-brand">
                    <div class="footer-logo-wrap">
                        <img src="../images/physiq_logo.png" alt="PHYSIQ" class="footer-logo-img">
                    </div>
                    <p class="footer-motto">Redefining Fitness Through Science</p>
                </div>
                        
                <div class="footer-block-contact">
                    <p class="footer-slogan">Get in touch now!</p>
                    <form class="mini-contact-form">
                        <input type="email" placeholder="your-email@gmail.com" required>
                        <button type="submit">EMAIL ME</button>
                    </form>

                    <form class="mini-contact-form">
                        <input type="tel" placeholder="+62-8123-4567-8910" required>
                        <button type="submit">CONTACT ME</button>
                    </form>
                </div>

                <div class="footer-block-map">
                    <div class="map-widget">
                        <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9536114776574!2d107.63522197475679!3d-6.896152193103031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7003461d203%3A0xa0c5163e6cd42630!2sPhysiq%20Fitness!5e0!3m2!1sen!2sid!4v1765263474120!5m2!1sen!2sid" 
                            width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                    <div class="address-box">
                        <p>Jl. Cikutra Baru Raya No.162<br>
                        Kel. Neglasari, Kec. Cibeunying Kaler<br>
                        Kota Bandung, Jawa Barat 40124</p>
                    </div>
                </div>

                <div class="footer-block-links">
                    <div class="link-group">
                        <h4>ABOUT US</h4>
                        <a href="#">Our Story</a>
                        <a href="#">Vision & Mission</a>
                        <a href="#">Trainers & Coaches</a>
                        <a href="#">Award & Recognition</a>
                    </div>
                    <div class="link-group">
                        <h4>FACILITY</h4>
                        <a href="#">Gym Facilities</a>
                        <a href="#">Training Zone</a>
                        <a href="#">Equipment</a>
                        <a href="#">Wellness Center</a>
                        <a href="#">Community</a>
                    </div>
                    <div class="link-group">
                        <h4>PROGRAM</h4>
                        <a href="/program">Muscle Gain</a>
                        <a href="/program">Weight Loss</a>
                        <a href="/program">Overall Fitness</a>
                        <a href="/program">Personal Training</a>
                    </div>
                    <div class="link-group">
                        <h4>PRICELIST</h4>
                        <a href="#">Day Pass</a>
                        <a href="#">Monthly Pass</a>
                        <a href="#">3 Month Pass</a>
                        <a href="#">6 Month Pass</a>
                        <a href="#">Annual Pass</a>
                    </div>
                    <div class="link-group">
                        <h4>CONTACT US</h4>
                        <a href="#">Location</a>
                        <a href="#">Whatsapp</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p>Copyright &copy; 2026 PHYSIQ FITNESS. All Rights Reserved.</p>
        </div>
    </div>
</footer>