<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="/">
                <div class="logo">
                    <img src="/images/physiq_logo.png" alt="PHYSIQ Logo">
                </div>
            </a>
            <nav class="nav">
                <a href="/">HOME</a>
                <a href="#facility">FACILITY</a>
                <a href="/program" class="<%= active === 'program' ? 'active' : '' %>">PROGRAM</a>
                <a href="#pricelist">PRICELIST</a>
                <a href="#about">ABOUT US</a>
                <a href="#join">JOIN NOW</a>
            </nav>
            <div class="user-icon">
                <img src="/images/profile_icon.png" alt="User Profile">
            </div>
        </div>
    </div>
</header>
