<%- include('../partials/head', { title: 'PHYSIQ | Program' }) %>
<%- include('../partials/header') %>

<main class="page-program">

    <!-- <section class="program-list">
        <div class="container">
            <h2 class="section-title">
                <span class="highlight">OUR</span> PROGRAM
            </h2>

            <div class="program-grid">
                    <div class="program-card">
                        <div class="card-content">
                            <h3>Muscle<br>Gain</h3>
                            <p>Program latihan untuk meningkatkan massa otot dengan metode progresif dan pola makan yang tepat.</p>
                        </div>
                        <a href="#" class="learn-more-btn">LEARN MORE<span class="arrow">→</span></a>
                    </div>

                    <div class="program-card">
                        <div class="card-content">
                            <h3>Weight<br>Loss</h3>
                            <p>Pendekatan terstruktur untuk defisit kalori yang sehat dalam program latihan intensif.</p>
                        </div>
                        <a href="#" class="learn-more-btn">LEARN MORE<span class="arrow">→</span></a>
                    </div>

                    <div class="program-card">
                        <div class="card-content">
                            <h3>Overall<br>Fitness</h3>
                            <p>Program menyeluruh untuk meningkatkan kekuatan, mobilitas, dan stamina dengan metode GOOD VIBES.</p>
                        </div>
                        <a href="#" class="learn-more-btn">LEARN MORE<span class="arrow">→</span></a>
                    </div>

                    <div class="program-card">
                        <div class="card-content">
                            <h3>Personal<br>Training</h3>
                            <p>Pendampingan 1-on-1 dengan pelatih berpengalaman untuk target spesifik dan desain program khusus.</p>
                        </div>
                        <a href="#" class="learn-more-btn">LEARN MORE<span class="arrow">→</span></a>
                    </div>
            </div>
        </div>
    </section> -->

    <section class="program-module">
        <div class="container">
            <h2 class="section-title">
                <span class="highlight">FITNESS</span> MODULE
            </h2>
        </div>

        <div class="module-embed">
            <iframe
                src="https://drive.google.com/file/d/1lNDJpKlkLfZzvSOMjK3l7aKbZIeeSqrj/preview"
                allow="autoplay">
            </iframe>
        </div>
    </section>

</main>

<%- include('../partials/footer') %>

</body>
</html>
